body {
    background-image: url("../img/Avezano-Vintage-Wooden-Floor-Photography-Background-Newborn-Kids-Adult-Portrait-Decor-Backdrop-For-Photo-Studio-Photozone.jpg_Q90.jpg_.jpeg");
    color: white;
}

h1 {
    font-size: 50px;
}

div {
    font-size: 25px;
}