body {
    background-color: #e1e5ee;
    /*color: #495867;*/
    color: #2E4756;
    font-family: 'Acme', sans-serif;
}

#header {
    background-color: lightskyblue;
}

h1 {
    font-family: 'Domine', serif;
}

button {
    background-color: lightskyblue;
}
.card-header {
    background-color: lightskyblue;
}

#map {
    height: 500px;
    width: 100%;
}



